# Dependencies
node_modules/

# Build outputs
dist/
.serverless/
.esbuild/
coverage/

# TypeScript
*.tsbuildinfo
**/.build/*

# Environment and secrets
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.terraform.lock.hcl
crash.log
crash.*.log

# Editor files
.vscode/*
\!.vscode/extensions.json
\!.vscode/settings.json
\!.vscode/launch.json
.idea/

# Local files
.local/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS specific
.DS_Store

# Husky internal files
.husky/_/*

